* {
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.nav-color {
  background-color: #555555;
}
.navbar-nav .nav-link {
  color: rgb(211, 211, 211);
}
.navbar-nav .nav-link.active {
  color: white;
}
.navbar-nav .nav-link:hover {
  color: white;
}
.list-icon {
  font-size: 25px;
  color: white;
}
/* End Nav */

.header {
  background-color: #f5f5f7;
}

.header2 {
  background-color: #000000;
}
.header3 {
  background-color: #fbfbfd;
}

.supercharged {
  color: #ca2166;
}
